<%= cache @categories do %>
  <div class="row">
    <div class="col">
      <h1>Categories</h1>
    </div>
  </div>

  <% @categories.each do |category| %>
    <%= cache category do %>
      <div class="row">
        <div class="col">
          <h2><%= category.name %></h2>
          <h3>Latest Products:</h3>
          <div class="card-deck">
            <% category.latest_products.each do |product| %>
              <%= cache product do %>
                <div class="card">
                  <% if product.image.attached? %>
                    <%= image_tag product.image.variant(resize: "196x196>"), class: "card-image-top" %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <p class="card-text"><%= truncate(product.description) %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <%= link_to "See all #{category.products_count} products >>", category, class: "btn btn-primary mt-2" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
