<h1>Products</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Available?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <%= render "product", product: product %>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item <%= "disabled" if @page == 0 %>">
      <% if @page == 0 %>
        <a class="page-link" href="#">Previous</a>
      <% else %>
        <%= link_to "Previous", url_for(page: @page - 1), class: "page-link" %>
      <% end %>
    </li>
    <li class="page-item <%= "disabled" if @count < @page * Product::PER_PAGE %>">
      <% if @count < @page * Product::PER_PAGE %>
        <a class="page-link" href="#">Next</a>
      <% else %>
        <%= link_to "Next", url_for(page: @page + 1), class: "page-link" %>
      <% end %>
    </li>
  </ul>
</nav>
